@{
    Layout="/Shared/_LayoutMain.cshtml";
    Session["un"]=WebSecurity.CurrentUserName;

 try{ 
    if(WebSecurity.Login(WebSecurity.CurrentUserName,(string)Session["pwd"]))
{
    
}
    }
    catch{
        Response.Redirect("~/default");
        }

}

<div class="ic"></div>
					<div class="container_12">
						<div class="wrapper indent-bot">
							<article class="grid_12">
								<div class="box">
									<div class="padding">
										<div class="wrapper">
											<figure class="img-indent2"><img src= images/cntrl.jpg alt="_" /></figure>
											<div class="extra-wrap">

												 <form id="contact-form1" method="post" enctype="multipart/form-data">
                                                   
													 <a class="button" href="AddProduct.cshtml" onclick="document.getElementById('contact-form1').submit()">Add Product</a>
                                                     <br ><br><br>
                                                      <a class="button" href="edit.cshtml" onclick="document.getElementById('contact-form1').submit()">Edit Product</a>
                                                     <br ><br><br>
                                                      <a class="button" href="Remove.cshtml" onclick="document.getElementById('contact-form1').submit()">Remove Product</a>
												</form>
												<div class="aligncenter">
                                                
                                                  
                                                
                                                </div>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
</div>



