<footer>
			
				<div class="inner">
					<p>Alifarzantahaa.com &copy; 2012 </p>
					<p><a class="link" rel="nofollow" href="http://en.wikipedia.org/wiki/Application_software" target="_blank">Desktops Softs</a> by Ali Farzan Tahaa</p>
					
				</div>

		</footer>
