<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">


       @RenderPage("/Shared/_mainhead.cshtml")

        <div id="page1"  style="padding: 30px">

           @RenderBody()
            </div>

          @RenderPage("/Shared/_footer.cshtml")
  